
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.container_input {
    text-align: left;
    border-radius: 8px;
    padding: 16px;
    width: 600px;
    height: 400px;
}
.message-container {
    display: flex;
}
.message-container > div {
    margin-right: 32px;
}